
        <div class="subBlock  projectItem  ###CLASS###">

            <h4 class="name">###NAME###
                <span class="uuid">###UUID###</span>
            </h4>


            <div class="row">
                <div class="col-6  contexts">
                    <div class="subheading">Contexts:</div>
                    ###CONTEXTS###
                </div>
                <div class="col-6  links">
                    <div class="subheading">Links:</div>
                    ###LINKS###
                </div>
            </div>

            <a class="btn to-right" href="###LINK_DELETE###" onclick="return confirm('Are you sure?');">Delete</a>
            <br class="clear">

            <div class="details">
                <!--###DETAILS###-->
            </div>
        </div>
